@font-face { 
   font-family: 'Cavear Dreams'; 
   src: url('../assets/fonts/caviar-dreams.ttf'); 
}
body {
/*	background: url(../assets/image/6203606.jpg) no-repeat;*/
	background-size: cover;	
	font-family: 'Cavear Dreams', sans-serif;	
	color: #d8d8d8;
	background-color: #161616;
	margin: 0;
	padding: 0;
}
input {
	position: absolute;
	left : 50%;
	border: 0px; 
	background-color: #d8d8d8;
}	
#searchBtn {
	position: absolute;
	border: 1px;
	border-radius: 10px;
	left : 60%;
}	
	
header {
	min-height: 20px;
	padding: 10px 0;
}


article {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

section {
	padding: 10px 0;
}

.title {
	text-transform: uppercase;
	text-align: center;
	font: bold italic 40px/2em;

}

.title:hover {
	/*color: red;*/

}	
section h2 {
	font-size: 30px;
	font-weight: bold;
	margin: 20px 0;
	text-align: center;
	color: white;
}
img {
	border-radius: 20px;
}
img:hover {
	/*width: 100px; */
}

	
h1 > a {
	color: #d8d8d8;
	cursor: pointer;
}

p {
	font-style: bold;
	font-size: 20px;
	line-height: 1.5em;
}

h2 + p {
	text-align: center;
}

ul {
	text-align: left;
	color: #d8d8d8;
}

ul > li {
	margin: 20px 0;
}

ol li {
	margin: 20px 0;
	color: #d8d8d8;
}

.card a {
	color: #212121;
	font-size: 20px;
	letter-spacing: 0.02em;
}

a:hover {
	color: #ffc700;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.pic {
	width: 450px;
	height: auto;
	margin: 20px auto;
	display: block;
}
/*
footer {
	background: #ffc700;
	color: #212121;
	padding: 45px 0;
}

footer h2 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 40px;
}
*/

.card {
	/*border-radius: 20px;*/
	padding: 40px;
	max-width: 600px;
	margin: 15px auto 30px;
	background-color: #fff;
	color: #212121;
}

#butStartStop {
	border-radius: 10px;
	width: 100px;
	height: 30px;
	background-color: #d8d8d8;
	font-family: 'Cavear Dreams', sans-serif;
	font-weight: bold;
	margin: 0 auto;
	display: block;
}
button {
	border-radius: 10px;
	width: 100px;
	height: 30px;
	background-color: #d8d8d8;
	font-family: 'Cavear Dreams', sans-serif;
	font-weight: bold;

}
#container {
    margin: 0 auto;
    width: 600px;
    height: 300px;
    margin-top: 10px;
    background: #1c1f27;
    border-radius: 25px;
}
#circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #11999e;
    position: absolute;
    --x:0px;
    --y:0px;

    transform: translate(var(--x),var(--y));
}

ul {
    list-style-type: none;
   	margin: 20;
    padding: 0;
	text-align: center;
}
a {
	text-decoration: none;	
	color: #d8d8d8;
}
.mitem {
	display	: inline;
	font-size: large;
}

::-webkit-scrollbar {
	width: 20px;
  }
  
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px gray; 
	border-radius: 10px;
  }
   
  
  ::-webkit-scrollbar-thumb {
	background: rgb(182, 175, 175); 
	border-radius: 10px;
  }
  